body{
  background:rgb(200, 211, 210)
}
#header{
  font-weight: 8;
  text-align :left;
}

#container {
  width:100%;
  text-align:center;
}
#left {
  float:left;
  width:100px;
}
#aboutme {
  display: inline-block;
  margin:0 auto;
  width:1200px;
  border:solid;
  padding: 100px;
}
#knowledge{
  border: dotted;
  margin: 20px;
  padding: 100px; 
  width: 300px;
  height: 150px; 
  float: right;
  columns: black;
}
h1{
  font-size: 40px;
  padding: 10px;
}
.heading{
  font-size: 20px;
  padding: 5px;
  display: block;
  width: 300px;
  margin:none;
  
}
#topten{
  background:url(/Users/smajumdar22/codeFellows/201/201n15-Shubham-Lab02/img/WorldMp.gif);
  background-repeat: no-repeat;
  background-position: center; 
  position: relative;
  border: dotted;
  margin: 20px;
  padding: 100px; 
  width: 320px;
  height: 150px; 
  float: left;
  columns: black;

}
#paratopten{
  font-size: 18px;
  padding: 10px;
}