body{
    background: teal;
  }
  p{
    border: 10px solid black;
  }
  
  ol {
    color: blue;
  }
  
  ul li {
    background: rgb(110, 91, 94);
  }
  
  .favourite {
    align-content: center
  }
  .image{
    width: 20
  }